.one
{
	height: 300;
	width: 100%;
	background-color: rgb(255,255,255);
}
.pad
{
	margin-left: 500px;
}
.buttons
{
	height: 45px;
    width: 175px;
    font-size: 25px;
    background-color: red;
}
.submit
{
	height: 45px;
    width: 175px;
    font-size: 25px;
    background-color: lightgreen;
}
p
{
	height: 150px;
	width: 100%;
	background-color:lightgray;
	font-size: 70px;
	text-align: center;
	padding-top: 154px;
}